.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-top: 50px;
  animation-name: dashboard-entry;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

.action-container {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  align-items: center;
}

.action-btn {
  background-color: var(--background-color);
  color: var(--text-color);
  border: 1px solid var(--border-color);
  padding: 5px;
  border-radius: 5px;
  margin-right: 10px;
}

.dashboard-container hr {
  margin: 8px 0;
}

.team-task-dashboard {
  display: flex;
  align-items: stretch;
  gap: 10px;
  margin-top: 25px;
}

.team-container {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  gap: 30px;
  align-items: stretch;
}

.team-task-dashboard hr {
  margin: 0 8px;
}

.team-selection {
  position: relative;
}

.non-active-teams a {
  width: 100%;
  text-align: center;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  cursor: pointer;
}

.team-select {
  background-color: var(--background-color);
  color: var(--text-color);
  border: 1px solid var(--border-color);
  border-radius: 3px;
  padding: 10px;
  width: 100%;
}

.team-selection:hover .non-active-teams {
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: 3px;
  padding: 5px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  animation: team-dropdown 0.2s ease-in-out 0s 1;
  width: 100%;
}

.non-active-teams {
  display: none;
  position: absolute;
  z-index: 1;
}

.team-users {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 3px solid var(--border-color);
  border-radius: 10px;
  gap: 10px;
  align-items: center;
}

.users {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.users .fa-crown {
  color: gold;
}

.task-container {
  display: flex;
  width: 100%;
}

.task-row {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.task {
  position: relative;
  border: 3px solid var(--border-color);
  padding: 10px;
  width: 60%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.task .fa-exclamation {
  position: absolute;
  right: 10px;
}

.task h4,
.task .task-details {
  margin-left: 10px;
}

.task-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.task-details p:nth-child(1) {
  overflow: hidden;
}

@keyframes team-dropdown {
  0% {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
  }

  100% {
    opacity: 1;
    transform: scaleY(1);
    transform-origin: top;
  }
}

@keyframes dashboard-entry {
  0% {
    transform: translateX(-100%) scale(0);
  }
  100% {
    transform: translate(0%) scale(1);
  }
}
