.entry-forms {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
}

.log-in,
.sign-up,
.join-create,
.create-team {
  border: 1px solid var(--border-color);
  padding: 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.log-in,
.sign-up {
  animation-name: entry;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.inputs .user-input {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.join-create,
.create-team {
  gap: 10px;
}

@keyframes entry {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
