.head-title h1 {
  font-size: 55px;
  margin: 20px 0;
}

.head-title.logged-in h1 {
  font-size: 30px;
  margin-left: 50px;
  cursor: pointer;
}

.head-title {
  text-align: center;
  transition: var(--default-transition);
}

.head-title.logged-in {
  text-align: left;
}
