.head-title {
  text-align: center;
  font-size: 55px;
  transition: var(--default-transition);
}

.head-title.logged-in {
  position: absolute;
  left: 0;
  top: 0;
  text-align: left;
  scale: .5;
  transition: var(--default-transition);
}
