.site-title {
  text-align: center;
  margin-top: 5%;
  animation-name: titleIntro;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

.site-title.logged-in {
  margin-top: 2%;
  text-align: left;
  font-size: 24px;
}

.container {
  width: 80vw;
  margin: 0 auto;
}

.user-input,
.due-date-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-input input {
  background-color: var(--background-color);
  color: var(--text-color);
  border: 1px solid var(--border-color);
  border-radius: 10px;
  padding: 0 10px;
  transition: all 0.7s ease-in-out;
  max-width: 50%;
}

.textarea-input {
  display: flex;
  align-items: center;
  gap: 10px;
}

.textarea-input textarea {
  resize: none;
  width: 75%;
  height: 75px;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "ROBOTO CONDENSED";
  border: 1px solid var(--border-color);
  padding: 5px;
  border-radius: 10px;
}

.textarea-input textarea::placeholder {
  transition: all 0.7s ease-in-out;
}

input[type="radio"] {
  appearance: none;
  background-color: var(--background-color);
  width: 1.15em;
  height: 1.15em;
  border: 1px solid var(--border-color);
  border-radius: 50px;
}

input[type="checkbox"]:checked {
  background-color: var(--border-color);
}

input[type="checkbox"] {
  appearance: none;
  background-color: var(--background-color);
  width: 1.15em;
  height: 1.15em;
  border: 1px solid var(--border-color);
  border-radius: 5px;
}

input[type="radio"]:checked {
  background-color: var(--border-color);
}

.textarea-input textarea::placeholder {
  color: var(--text-color);
}

.submit {
  background-color: var(--background-color);
  color: var(--text-color);
  border: 1px solid var(--border-color);
  border-radius: 20px;
  padding: 5px 10px;
  transition: all 0.7s ease-in-out;
}

.success-note,
.error-note {
  color: var(--background-color);
  background-color: var(--text-color);
  transition: all 0.7s ease-in-out;
}

@keyframes titleIntro {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
