:root {
  --background-color: #ededed;
  --text-color: #1e1e1e;
  --border-color: #33cc33;
  font-family: "Roboto Condensed", sans-serif;
}

.dark {
  --background-color: #1e1e1e;
  --text-color: #ededed;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  box-sizing: border-box;
  transition: all 0.7s ease-in-out;
}

.theme-button {
  padding: 10px;
  border-radius: 5px;
  font-weight: 700;
  position: absolute;
  top: 25px;
  right: 25px;
  border: 2px solid var(--border-color);
  cursor: pointer;
  user-select: none;
}

p {
  margin: 0;
}
